## 1 Data Preprocessing

In [ ]:
# For data manipulation
import numpy as np
import pandas as pd
from datetime import datetime
from time import sleep


# Fetch historical data for the target symbol
forex_data = pd.read_csv("rawdata/XAUUSD_M15_BID_20240902-20241123.csv")
prices = forex_data['Close']
print(prices)

# Convert the 'Local time' column to datetime and set it as index
forex_data['Local time'] = forex_data['Local time'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y %H:%M:%S.%f GMT%z'))
forex_data.set_index('Local time', inplace=True)

# Calculate the True Range (TR) and ATR-96
forex_data['TR'] = np.maximum(forex_data['High'] - forex_data['Low'], 
                    np.abs(forex_data['High'] - forex_data['Close'].shift(1)),
                    np.abs(forex_data['Low'] - forex_data['Close'].shift(1)))
forex_data['ATR'] = forex_data['TR'].rolling(window=96).mean()


print(f'Data available for analysis = {len(forex_data)-1600}')
forex_data

0       2504.065
1       2503.805
2       2504.064
3       2503.298
4       2502.385
          ...
5502    2705.695
5503    2708.665
5504    2709.085
5505    2711.865
5506    2715.805
Name: Close, Length: 5507, dtype: float64
Data available for analysis = 3907

,Open,High,Low,Close,Volume,TR,ATR
Local time,,,,,,,
2024-09-02 01:00:00+03:00,2502.435,2504.545,2501.195,2504.065,204930.0000,NaN,NaN
2024-09-02 01:15:00+03:00,2503.855,2504.295,2503.435,2503.805,61020.0000,0.860,NaN
2024-09-02 01:30:00+03:00,2503.785,2504.315,2503.318,2504.064,88350.0012,0.997,NaN
2024-09-02 01:45:00+03:00,2503.965,2504.205,2503.008,2503.298,92549.9997,1.197,NaN
2024-09-02 02:00:00+03:00,2503.294,2503.425,2501.995,2502.385,221759.9992,1.430,NaN
...,...,...,...,...,...,...,...
2024-11-22 22:45:00+02:00,2706.925,2706.975,2705.175,2705.695,957769.9973,1.800,3.661302
2024-11-22 23:00:00+02:00,2705.695,2709.025,2705.664,2708.665,249229.9994,3.361,3.663708
2024-11-22 23:15:00+02:00,2708.705,2709.645,2708.365,2709.085,163050.0017,1.280,3.661729
2024-11-22 23:30:00+02:00,2709.075,2711.955,2707.695,2711.865,322280.0042,4.260,3.692250
2024-11-22 23:45:00+02:00,2711.885,2716.165,2711.465,2715.805,330160.0022,4.700,3.718396

In [3]:
forex_data_lowertf['close'][-20:]

datetime
2024-11-19 12:01:00    1.26338
2024-11-19 16:01:00    1.26676
2024-11-19 20:01:00    1.26827
2024-11-20 00:01:00    1.26904
2024-11-20 04:01:00    1.26815
2024-11-20 08:01:00    1.26691
2024-11-20 12:01:00    1.26743
2024-11-20 16:01:00    1.26541
2024-11-20 20:01:00    1.26528
2024-11-21 00:01:00    1.26557
2024-11-21 04:01:00    1.26501
2024-11-21 08:01:00    1.26312
2024-11-21 12:01:00    1.26491
2024-11-21 16:01:00    1.26014
2024-11-21 20:01:00    1.25892
2024-11-22 00:01:00    1.25900
2024-11-22 04:01:00    1.25658
2024-11-22 08:01:00    1.25043
2024-11-22 12:01:00    1.25231
2024-11-22 16:01:00    1.25197
Name: close, dtype: float64